h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

h1,
  h2 {
    text-align: center;
    font-family: arial, sans-serif;
}

table {
  width: 60%;
  border: 2px solid black;
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  background-color: rgb(250, 195, 133);
  height: 80px;
  text-align: left;
  font-family: arial, sans-serif;
  padding-left: 5px;
}

tr:nth-child(even) {
  background-color: blanchedalmond;
}

td {
  border-top: 1px solid black;
  font-family: arial, sans-serif;
}

li {
  list-style-type: none;
} 

.tag {
  background-color: beige;
}

.back-row-1 {
  width: 25%;
  padding: 10px 5px;
  border-right: 1px solid lightgrey;
}
.back-row-2 {
  width: 65%;
  padding: 10px 5px;
  border-right: 1px solid lightgrey;
}

.back-row-3 {
  padding: 10px 5px;
}

.border-row-1 {
  width: 27%;
  border-right: 1px solid lightgrey;
  padding: 10px 5px;
}

.border-row-2,
  .box-row-2 {
  width: 22%;
  border-right: 1px solid lightgrey;
  padding: 10px 5px;
}
.border-row-3 {
  width: 41%;
  border-right: 1px solid lightgrey;
  padding: 10px 5px;
}

.border-row-4 {
  padding: 10px 5px;
}

.box-row-1 {
  width: 20%;
  border-right: 1px solid lightgrey;
  padding: 10px 5px;
}

.box-row-3 {
  width: 48%;
  border-right: 1px solid lightgrey;
  padding: 10px 5px;
}

.box-row-4 {
  padding: 10px 5px;
}

.back-row-1,
  .back-row-2,
    .border-row-1,
      .border-row-2,
        .box-row-1,
          .box-row-2,
            .tag {
  font-family: monospace, sans-serif; 
}

footer {
  text-align: right;
  font-family: arial, sans-serif;
}